@using WebApplication1 Models;
@Model Customer();

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*<p>员工:@emp.Name </p>
        <p>
            顾客：@Model..CustomerName;
        </p>*@
    </div>
</body>
</html>
