
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        <p>客户姓名：@Model.CustomerName</p>
        <p>地址：@Model.Address</p>
        <h1>@(ViewBag.Greeting)!</h1>
        <h2>员工信息</h2>
     
</div>
</body>
</html>
